@media screen and (max-width: 350px) {
    header h1 {
        font-size: 0.7rem;
        text-align: center;
    }
    nav {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    header h1 {
        font-size: 1rem;
        text-align: center;
    }
    nav {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    header h1 {
        font-size: 1.1rem;
    }
    header li {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 620px) {
    header h1 {
        font-size: 1.3rem;
    }
    header li {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 750px) {
    header h1 {
        font-size: 1.5rem;
    }
    header li{
        font-size: 0.8rem;
    }
}
