
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    padding: 0; margin: auto; box-sizing: border-box; font-family: 'Montserrat', serif; background-color: blueviolet; color: yellow;}

header{
    display: flex; padding: 10px; margin: 0; box-sizing: border-box; font-weight: bold;justify-content: space-between; align-items: center;}

nav ul{
    list-style-type: none; display: flex; align-items: center; justify-content: center; padding: 0; margin: 0; gap: 10px;}